{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Let's Quiz | {{ title }} {% endblock title %}
{% block content %}
{% if not request.user.is_active %}

     <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
              <h1 class="mb-3 text-center">Creer un nouveau compte</h1>
              <form class="mb-3" method="POST" action="">
                {% csrf_token %}
		        {{form|crispy}}
		        <input type="submit" class="btn btn-info btn-block mb-3" value="{{ title }}">
              </form>
              <div class="text-center">
                <p>or ...</p>
                <a href="{% url 'login' %}" class="btn btn-success">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>



{% endif %}

{% endblock content %}
